@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: kabir;
    src: url(./assets/file.woff2);
}
@font-face {
    font-family: kabir1;
    src: url(./assets/file\ \(1\).woff2);
}
@font-face {
    font-family: kabir2;
    src: url(./assets/file\ \(2\).woff2);
}
@font-face {
    font-family: kabir2;
    src: url(./assets/file\ \(3\).woff2);
}
